.root {
    -fx-font-family: "Roboto";
}

.button {
    -fx-background-color: #0066D6;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-radius: 25;
    -fx-border-radius: 0;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.list-view {
    -fx-border-color: #ddd;
    -fx-border-radius: 5;
}

.label {
    -fx-font-size: 14px;
}


/* Fondo general del BorderPane */
.root {
    -fx-background-color: #F5F5F5;
}

/* Panel izquierdo */
.left-panel {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20;
}

/* Texto del logo */
.logo-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Lista de empresas y lista de tareas */
.company-list,
.tasks-list {
    -fx-background-color: #FAFAFA;
    -fx-border-color: #CCCCCC;
}

/* Botón Cerrar sesion */
.sesion-button {
    -fx-background-color: #A31D1D;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Botón Crear */
.create-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Botón Archivo */
.archive-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Etiqueta de bienvenida */
.welcome-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Botón Escanear */
.scan-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #FF5722;
    -fx-text-fill: white;
}
